Repository u88803494/flourish: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint-cli2 --fix, prettier --write

feat(flow): implement dashboard MVP with logout button
  apps/flow/app/(protected)/dashboard/components/dashboard-navbar.tsx
  apps/flow/app/(protected)/dashboard/components/user-info-card.tsx
  apps/flow/app/(protected)/dashboard/dashboard-client.tsx
  apps/flow/app/(protected)/dashboard/page.tsx
Due: prettier --write

feat(flow): add Google Sign-In SDK to root layout
  apps/flow/app/layout.tsx
  apps/flow/app/login/login-content.tsx
Due: prettier --write

fix(flow): exclude tests directory from Next.js compilation
  apps/flow/next.config.js
  apps/flow/tsconfig.json
Due: prettier --write

chore(flow): defer test infrastructure to Sprint 13
  apps/flow/tests/setup.ts
  apps/flow/vitest.config.ts
Due: prettier --write

refactor(flow): simplify auth flow from Google SDK to Supabase OAuth
  apps/flow/app/layout.tsx
  apps/flow/app/login/login-content.tsx
Due: prettier --write

fix(flow): enhance OAuth security and code quality
  apps/flow/app/login/login-content.tsx
Due: prettier --write

feat(database): implement RLS policies for all user tables
  docs/sprints/release-1-core-features/12-authentication.md
  docs/sprints/release-1-core-features/12-rls-testing-plan.md
  supabase/migrations/20251203000000_enable_rls_policies.sql
Due: markdownlint-cli2 --fix, prettier --write

docs(sprint-12): add RLS testing documentation and verification scripts
  docs/sprints/release-1-core-features/12-authentication.md
  docs/sprints/release-1-core-features/12-rls-test-results.md
  scripts/verify-rls.sql
Due: markdownlint-cli2 --fix, prettier --write

fix(security): enable RLS on _prisma_migrations table
  supabase/migrations/20251203010000_enable_rls_prisma_migrations.sql
Due: none

fix(security): add search_path protection to all functions
  supabase/migrations/20251203020000_fix_function_search_path.sql
Due: none

docs(sprint-12): document additional security fixes
  docs/sprints/release-1-core-features/12-rls-test-results.md
Due: markdownlint-cli2 --fix, prettier --write

docs(sprint-12): add comprehensive RLS testing guide
  docs/sprints/release-1-core-features/12-rls-testing-guide.md
Due: markdownlint-cli2 --fix, prettier --write

fix(database): cleanup duplicate RLS policies
  supabase/migrations/20251203030000_cleanup_duplicate_policies.sql
Due: none

docs(sprint-12): add automated RLS test results
  docs/sprints/release-1-core-features/12-rls-automated-test-results.md
Due: markdownlint-cli2 --fix, prettier --write

fix(database): correct RLS policy column names and add indexes
  docs/sprints/release-1-core-features/12-architecture-assessment.md
  supabase/migrations/20251204000000_fix_rls_column_names.sql
Due: markdownlint-cli2 --fix, prettier --write

docs(database): add warning comment for known RLS column naming issue
  supabase/migrations/20251203000000_enable_rls_policies.sql
Due: none

Fix React Server Components CVE vulnerabilities
  apps/apex/package.json
  apps/docs/package.json
  apps/flow/package.json
  packages/supabase-client/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  markdownlint-cli2 --fix: any of: **/*.md
  prettier --write: (any of: **/*.md) or (any of: **/*.{js,jsx,ts,tsx,json,yml,yaml})
